<h1>Dashboard</h1>
<ul ng-controller="Dashboard as Dashboard">
    <div ng-repeat="site in Dashboard.data">
        QXID:
        {{site.siteId}}
        |
        {{site.baseURL}}<br>
        <ol>
            <li ng-repeat="session in site.sessions">
              {{session.sessionId}} {{session.timeStarted | date: 'medium'}}
              | {{session.browser}} {{session.platform}}
              | {{session.viewHeight}} x {{session.viewWidth}}
              <ul ng-if="session.clicks[0]">
                Click Path:<li style="display: inline-block; padding: 2px" ng-repeat="click in session.clicks"> {{ click.target.tagName }}<br>{{session.timeStarted + click.timeStamp | date: 'mediumTime'}}</li>
              </ul>
            </li>
        </ol>
        <hr>
    </div>
</ul>
