<div ng-controller="Dashboard as dash">

  <!-- <ul><li ng-repeat="site in dash.data">SITE: {{site.URL}}

      <ul><li ng-repeat="session in site.sessions">SESSION: {{session.platform}}, {{session.browser}}, ID: {{session.sessionId}}

        <ul><li ng-repeat="click in session.clicks">CLICK: X:{{click.clickX}}, Y:{{click.clickY}}, scrollX:{{click.scrollX}}, scrollY:{{click.scrollY}}, State: {{click.currentState}}
        </li></ul>
      </li></ul>
    </li></ul> -->
    <iframe src="http://theallenbros.com/#/" width="1500px" height="1000px" sandbox="allow-scripts allow-same-origin" style="-webkit-transform:scale(0.8);-moz-transform-scale(0.8);"></iframe>
</div>
