<nav>
  <div class="subnav-button" ui-sref-active="subnavActive" ui-sref="site.dashboard({ id: Quixsub.id })">
    Dashboard
  </div>
	<div class="subnav-button" ui-sref-active="subnavActive" ui-sref="site.quixtory({ id: Quixsub.id })">
    Quixtory
  </div>
	<div class="subnav-button" ui-sref-active="subnavActive" ui-sref="site.heatmap({ id: Quixsub.id })">
    Heatmap
  </div>
	<div class="subnav-button settings" ui-sref-active="subnavActive" ui-sref="site.my({ id: Quixsub.id })">
		Settings
	</div>
</nav>
<div ng-click="Quixsub.sideNav()" id="subnav-toggle">
  <img id="subnav-arrow" src="../../assets/images/arrow-right3.svg" alt="" />
</div>
