<header>
  <div>
      <h3 class="topbar-menu">
        <img src="../../assets/images/Logosvg-01.svg" alt="QUIX" />
      </h3>
      <h5 class="topbar-menu">{{Quixtop.title}}</h5>
      <div ng-click="Quixtop.dropMenu()" class="topbar-user">
        <div ng-if="Quixtop.currentUser">@{{Quixtop.currentUser.username}}</div>
        <div>&#9662</div>
      </div>
      <div id="profile-menu">
        <div class="profile-box">
          Profile
        </div>
        <div ng-click="Quixtop.logout()" class="profile-box">
          Log Out
        </div>
      </div>

    </div>
</header>
