<nav>
  <div class="subnav-button" ui-sref="dashboard({ id: {{Quixsub.id}} })">
    Dashboard
  </div>
	<div class="subnav-button" ui-sref="quixtory({ id: {{Quixsub.id}} })">
    Quixtory
  </div>
	<div class="subnav-button" ui-sref="heatmap({ id: {{Quixsub.id}} })">
    Heatmap
  </div>
	<div class="subnav-button settings" ui-sref="site.my({ id: {{Quixsub.id}} })">
		Settings
	</div>
</nav>
<div ng-click="Quixsub.sideNav()" id="subnav-toggle">
  <img src="../../assets/images/arrow-right3.svg" alt="" />
</div>
