.heatmap-container {

	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;

	h2 {
		font-family: $font-title;
		border-bottom: 0.25px solid $primary;
		padding-bottom: 1rem;
		margin: 0;
		margin-bottom: 4rem;
	}

	.actualheatmap-container {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.actualheatmap-scroll {
			width: 2rem;
			box-sizing: content-box;
			.scroll-btn {
				background-color: $dark2;
				height: 100px;
				width: 30px;
				display: flex;
				flex-direction: column;
				align-items: center;
				align-content: center;
				justify-content: center;
			}
		}

	}

}
