.heatmap-container {

	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;

	h2 {
		font-family: $font-title;
		border-bottom: 0.25px solid $primary;
		padding-bottom: 1rem;
		margin: 0;
		margin-bottom: 4rem;
	}

	.actualheatmap-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.actualheatmap-scroll {
			width: 2rem;
			box-sizing: content-box;
			button {
				box-shadow: border-box;
			}
		}

	}

}
