<section class="addsite-container">
    <section class="addsite-content">
        <div class="addsite-steps">Site Info</div>
          <input type="text" placeholder="Title" ng-model="site.title">
        <div class="add-url-input">
            <input type="text" placeholder="http://www.example.com" ng-model="site.URL"><br />
            <button type="button" name="button" ng-click="Site.newSite(site)">Add Site</button>
        </div>
        <div class="addsite-paste-script" ng-if="Site.mySite">
            <a ng-href="/site/{{Site.mySite}}">Site Home</a>
        </div>
    </section>
</section>
