<section class="addsite-container">

  <section class="addsite-content">
    <div class="addsite-steps">
      Step 1: Add your site url
    </div>
    <div class="add-url-input">
      <input type="text" placeholder="URL">
      <button type="button" name="button">Update</button>
    </div>
    <div class="addsite-steps">
      Step 2: Paste this code into your site
    </div>
    <div class="addsite-paste-script">
      Paste this code right before your first < script > tag.
    </div>
    <div class="addsite-paste-textarea">
      <textarea name="name" rows="8" cols="40"></textarea>
    </div>
    <div class="addsite-steps">

    </div>
     Example
    <div class="addsite-example">
    </div>
  </section>
</section>
