<section class="addsite-container">
  <section class="addsite-content">
    <div class="addsite-steps">
      Step 1: Add your site url
    </div>
    <div class="add-url-input">
      <input type="text" placeholder="URL" ng-model="site.URL">
      <button type="button" name="button" ng-click="Site.newSite(site)">Update</button>
    </div>
    <div class="addsite-steps" ng-if="Site.mySite">
      Step 2: Paste this code into your site right before your first < script > tag.
    </div>
      <div class="addsite-paste-script">
      <code>script {{Site.mySite}} script</code><br />
        <a ng-href="/site/{{Site.mySite}}">Site Home</a>
    </div>
    <!-- <div class="addsite-paste-textarea">
      <code>script script</code>
      <textarea name="name" placeholder="<script></script>" rows="8" cols="40"></textarea>
    </div> -->
    <div class="addsite-steps">
    </div>
     Example
    <div class="addsite-paste-textarea">
        <textarea name="name" rows="8" cols="40"></textarea>
    </div>

  </section>
</section>
