<section>
  {{ Dashboard.now }}
    <table>
        <tr>
            <th>
                QUIX
            </th>
            <th>
                24 Hours
            </th>
            <th>
                48 Hours
            </th>
            <th>
                7 Days
            </th>
            <th>
                30 Days
            </th>
            <th>
                Total
            </th>
        </tr>
        <tr>
            <td>
                Sessions
            </td>
            <td>
              9
            </td>
            <td>
                21
            </td>
            <td>
                21
            </td>
            <td>
              {{ Dashboard.sessionCount }}
            </td>
            <td>
              {{ Dashboard.sessionCount }}
            </td>
        </tr>
        <tr>
            <td>
                Clicks
            </td>
            <td>
                1
            </td>
            <td>
                2
            </td>
            <td>
                7
            </td>
            <td>
                30
            </td>
            <td>
              Total
            </td>
        </tr>
        <tr>
            <td>
                Session Time
            </td>
            <td>
                2:01
            </td>
            <td>
                1:15
            </td>
            <td>
                1:28
            </td>
            <td>
                1:17
            </td>
            <td>
              Total
            </td>
        </tr>
        <tr>
            <td>
                Avg. Clicks
            </td>
            <td>
                4
            </td>
            <td>
                4.6
            </td>
            <td>
                4.9
            </td>
            <td>
                4
            </td>
            <td>
              4.12
            </td>
        </tr>
        <tr>
            <td>
                Clicks/Session
            </td>
            <td>
                4.5
            </td>
            <td>
                4.8
            </td>
            <td>
                4.9
            </td>
            <td>
                4.9
            </td>
            <td>
              4.9
            </td>
        </tr>
        <tr>
            <td>
                Users
            </td>
            <td>
                {{ Dashboard.userCount }}
            </td>
            <td>
                {{ Dashboard.userCount }}
            </td>
            <td>
                {{ Dashboard.userCount }}
            </td>
            <td>
                {{ Dashboard.userCount }}
            </td>
            <td>
              {{ Dashboard.userCount }}
            </td>
        </tr>
    </table>

</section>

<svg id="sessions" width="500" height="250"></svg>
<svg id="visualisation" width="500" height="250"></svg>
<div class="pieChart" pie-chart></div>
