<section>
  {{ Dashboard.now }}
  {{Dashboard.today}}
    <table>
        <tr>
            <th>
                QUIX
            </th>
            <th>
                24 Hours
            </th>
            <th>
                48 Hours
            </th>
            <th>
                7 Days
            </th>
            <th>
                30 Days
            </th>
            <th>
                Total
            </th>
        </tr>
        <tr>
            <td>
                Sessions
            </td>
            <td>
                1
            </td>
            <td>
                2 -
            </td>
            <td>
                7 -
            </td>
            <td>
                30 -
            </td>
            <td>
              {{ Dashboard.sessionCount }}
            </td>
        </tr>
        <tr>
            <td>
                Clicks
            </td>
            <td>
                1
            </td>
            <td>
                2
            </td>
            <td>
                7
            </td>
            <td>
                30
            </td>
            <td>
              Total
            </td>
        </tr>
        <tr>
            <td>
                Session Time
            </td>
            <td>
                1
            </td>
            <td>
                2
            </td>
            <td>
                7
            </td>
            <td>
                30
            </td>
            <td>
              Total
            </td>
        </tr>
        <tr>
            <td>
                Avg. Clicks
            </td>
            <td>
                1
            </td>
            <td>
                2
            </td>
            <td>
                7
            </td>
            <td>
                30
            </td>
            <td>
              Total
            </td>
        </tr>
        <tr>
            <td>
                Clicks/Session
            </td>
            <td>
                1
            </td>
            <td>
                2
            </td>
            <td>
                7
            </td>
            <td>
                30
            </td>
            <td>
              Total
            </td>
        </tr>
        <tr>
            <td>
                Users
            </td>
            <td>
                1
            </td>
            <td>
                2
            </td>
            <td>
                7
            </td>
            <td>
                30
            </td>
            <td>
              {{ Dashboard.userCount }}
            </td>
        </tr>
    </table>
</section>

<svg id="sessions" width="500" height="250"></svg>
<svg id="visualisation" width="500" height="250"></svg>
