<section ng-controller="Heatmap as heatmap">
  <h2>Heatmap</h2><hr>

<div style="display:flex; flex-direction: row; align-items: center; justify-content: center;">

  <!-- - - VERY FRAGILE. IF YOU TOUCH THIS CODE, I'LL BEAT YOU WITH A BAT - - - -->
  <div style="-webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform(0deg); position: relative;">
    <div id="heatmap-container" style="width: 900px; position: relative; height: 600px; overflow: hidden;">
      <iframe id="testframe" sandbox="allow-scripts allow-same-origin" scrolling="no" ng-src="" width="1500px" height="1000px" style="-webkit-transform:scale(.6); -moz-transform:scale(.6); z-index: 0; opacity: 1; position: fixed; top: 0; margin-left: -300px; margin-top: -200px;"></iframe>
      <div id="click-holder" style="width: 900px; height: 600px; position: absolute; background: none; z-index: 1; opacity: 1;"></div>
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

  <div style="width: 80px; display: flex; flex-direction:column; align-items: center;">
    <button ng-click="heatmap.heatmapScrollUp(600)" style="height: 100px; width: 30px; display: flex; flex-direction: column; align-items: center; justify-content: center;">/\<br>/\<br>/\</button>
    <button ng-click="heatmap.heatmapScrollUp(300)" style="height: 100px; width: 30px; display: flex; flex-direction: column; align-items: center; justify-content: center;">/\<br>/\</button>
    <button ng-click="heatmap.heatmapScrollUp(100)" style="height: 100px; width: 30px; display: flex; flex-direction: column; align-items: center; justify-content: center;">/\</button>
    <button ng-click="heatmap.heatmapScrollDown(100)" style="height: 100px; width: 30px; display: flex; flex-direction: column; align-items: center; justify-content: center;">\/</button>
    <button ng-click="heatmap.heatmapScrollDown(300)" style="height: 100px; width: 30px; display: flex; flex-direction: column; align-items: center; justify-content: center;">\/<br>\/</button>
    <button ng-click="heatmap.heatmapScrollDown(600)" style="height: 100px; width: 30px; display: flex; flex-direction: column; align-items: center; justify-content: center;">\/<br>\/<br>\/</button>
  </div>

</div>

<select name="stateSelect" ng-model="stateSelected" ng-change="heatmap.updateHeatmap(stateSelected)">
  <option ng-repeat="state in heatmap.clicksByStates" value="{{state}}">{{state.stateName}}</option>
</select>

<div>
  <h3>Browser:</h3>
  <select name="browserSelect" ng-model="browserSelected" ng-change="heatmap.updateHeatmap(stateSelected, browserSelected)">
    <option>Chrome</option>
    <option>Firefox</option>
    <option>Safari</option>
    <option>IE</option>
    <option>Other...</option>
  </select>
</div>


</section>
