<section ng-controller="Site as Site">
      <div>
        <br><br>
        <h4>QXID: {{Site.data._id}} | {{Site.data.URL}}</h4>
        <p>
          {{Site.data.createdAt}} by {{Site.data.owner}}
        </p>
          <ol>
              <div ng-repeat="session in Site.data.sessions">
                <div class="sessioninfo">
                <!-- <div style="display: inline-block; padding: 1px; border-bottom: 1px solid black" class="sessioninfo"> -->
                  {{session._id}} | {{session.entryState}} | {{session.createdAt | date: 'mediumTime'}} to {{session.updatedAt | date: 'mediumTime'}}<br>
                  user: {{session.qu}} | {{session.browser}} {{session.platform}} | {{session.clicks[0].vh}} x {{session.clicks[0].vw}} | Clicks: {{session.clicks.length}}
                </div>
                <div ng-if="session.clicks[0]" style="display: inline-block; padding: 1px">
                  <ul>
                    <li ng-repeat="click in session.clicks">
                    <!-- <li style="display: inline-block; margin-left: 3px" ng-repeat="click in session.clicks"> -->
                      {{ click.target.tagName }} | {{ click.time/1000 | number: 2 }} s<br>
                    </li>
                  </ul>
                </div>
              </div>
          </ol>
          <hr>
      </div>
</section>
<!--
site info
* _id
* createdAt
- updatedAt
* title
* URL
* owner
- [sessions]
  * createdAt
  * updatedAt
  * browser
  * platform
  * entryState
  * qu (quix user)
  * _id
  - [clicks]
    - path
    - vw
    - vh
    - scrollY
    - scrollX
    - clickY
    - clickX
    - time
    - {target}
    - currentState
   -->
