<section>
    <h2>{{Site.data.URL}}</h2>
    Add the following script tag to your main HTML File<br/>
    Be sure to paste right before your first < script > tag.<br/>
    <code>
        &lt;script> window.qxid = {{Site.data._id}}<br/>
        var wa = document.createElement('script');<br/>
        wa.type = 'text/javascript';<br/>
        wa.async = true;<br/>
        wa.src = './grab.js';<br/>
        var s = document.getElementsByTagName('script')[0];<br/>
        s.parentNode.insertBefore(wa, s);<br/>
        &lt;/script>
    </code>
    <hr>
    {{Site.user}}
</section>
