<input type="text" placeholder="Email" ng-model="Auth.user.email">
<input type="password" placeholder="Password" ng-model="Auth.user.password">
<button type="button" ng-click="Auth.login(Auth.user)">Go</button>
<hr>
<input type="text" placeholder="username" ng-model="Auth.newUser.username">
<input type="text" placeholder="Email" ng-model="Auth.newUser.email">
<input type="password" placeholder="Password" ng-model="Auth.newUser.password">
<button type="button" ng-click="Auth.register(Auth.newUser)">Go</button>
