<!-- avatar preview -->

	<section class="profile-container">

			<div>
				<div>Avatar placeholder</div>
				<input type="file">
			</div>


			<!-- USERNAME -->
			<div>
				<div>
					<p>USERNAME</p>
				</div>
				<div>
					<input type="text" ng-model="Profile.updatedUser.username">
					<button ng-click="Profile.updateUser(Profile.updatedUser)">Update</button>
				</div>
				<div ng-if="Profile.alertUsername">
					<p>{{Profile.alertUsername}}</p>
				</div>
			</div>


			<!-- EMAIL -->
			<div>
				<div>
					<p>EMAIL</p>
				</div>
				<div>
					<input type="text" ng-model="Profile.updatedUser.email">
					<button ng-click="Profile.updateUser(Profile.updatedUser)">Update</button>
				</div>
				<div ng-if="Profile.alertEmail">
					<p>Success or error message</p>
				</div>
			</div>


			<!-- CHANGE PASSWORD -->
			<div>
				<div>
					<p>CHANGE PASSWORD</p>
				</div>
				<div>
					<input type="text" placeholder="Current password">
				</div>
				<div>
					<input type="text" placeholder="New password">
					<input type="text" placeholder="Type it again">
				</div>
				<div>
					<p>Success or error message</p>
				</div>
			</div>


			<!-- DELETE ACCOUNT -->
			<div>
				<div>
					<p>DELETE ACCOUNT</p>
				</div>
				<div>
					<input ng-model="Profile.deleteUserInput" type="text" placeholder="Enter your email address to delete your account">
					<button ng-click="Profile.deleteUser(Profile.deleteUserInput)">DELETE</button>
				</div>
			</div>
	</section>
