<section class="profile-container">

	<div class="profile-avatar">
		<img src="http://payload364.cargocollective.com/1/11/371476/9589934/self-portrait_1600_c.jpg" alt="avatar" />
		<!-- <button type="button">Choose File</button> -->
	</div>

	<!-- USERNAME -->
	<div class="update-section">
		<div class="update-title">
			USERNAME
		</div>
		<div class="update-profile-input">
			<input type="text" ng-model="Profile.updatedUser.username">
			<button ng-click="Profile.updateUser(Profile.updatedUser)">Update</button>
		</div>
		<div ng-class="Profile.alert" ng-if="Profile.alertUsername">
			<p>{{Profile.alertUsername}}</p>
		</div>
	</div>

	<!-- EMAIL -->
	<div class="update-section">
		<div class="update-title">
			EMAIL
		</div>
		<div class="update-profile-input">
			<input type="text" ng-model="Profile.updatedUser.email">
			<button ng-click="Profile.updateUser(Profile.updatedUser)">Update</button>
		</div>
		<div ng-if="Profile.alertEmail">
			<div class="error">All fields required</div>
		</div>
	</div>

	<!-- CHANGE PASSWORD -->
	<!-- <div class="update-section">
		<div class="update-title">
			CHANGE PASSWORD
		</div>
		<div class="change-password">
			<input type="text" placeholder="Current password">
		</div>
		<div class="new-password">
			<input type="text" placeholder="New password">
			<input type="text" placeholder="Type it again">
			<button type="button">UPDATE</button>
		</div>
			<p class="error">All fields required</p>
		<div>

		</div>
	</div> -->

	<!-- DELETE ACCOUNT -->
	<div class="update-section">
		<div class="update-title">
			DELETE ACCOUNT
		</div>
		<div class="update-profile-input">
			<input ng-model="Profile.deleteUserInput" type="text" placeholder="Enter your email address to delete your account">
			<button ng-click="Profile.deleteUser(Profile.deleteUserInput)">DELETE</button>
		</div>
	</div>

</section>
