.addsite-container{
  width: calc(100% - $leftnav-total-width);
  height: 100%;
  background: $dark1;
  margin-top: $login-top-margin;
  input{
    width:100%;
    height: 4rem;
    background-color: $primary;
    color: $dark1;
  }
  .addsite-content{
    width: 65%;
    height:100%;
    margin: auto;
    color: $primary;
    .addsite-steps{
      width: 100%;
      height:2.5rem;
      margin-bottom: 4rem;
      border-bottom: 2px solid $primary;
    }
    .add-url-input{
      width: 100%;
      height: 4rem;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10rem;
      input{
        width:84%;
        height: 100%;
        background-color: $primary;
        color: $dark1;
      }
      button{
        text-align: center;
        height: 100%;
        width: 14%;
        background-color: $primary;
        color: $dark1;
      }
    }
  }
  .addsite-paste-textarea{
    width: 100%;
    height:25rem;
    textarea{
      margin-top: 2rem;
      resize: none;
      width: 100%;
      height: 100%;
      background: $primary;
      color: $dark1;
      opacity:.35;
      &:focus{
        opacity: 1;
      }
    }
  }
  .addsite-example{
    width: 100%;
    height: 30rem;
    background-image: url('../../assets/images/example.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

}
