body {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: $dark1;
	quixtop{
	  width: 100vw;
	  height: $topbar-height;
	  position: fixed;
		display: flex;
		z-index: 100;
	  background-color: $black;
		box-shadow: 0px 3px 5px hsla(0, 0%, 0%, 0.6);
	  	.topbar-menu{
	    	height: $topbar-height;
	  	  width: $nav-width;
				margin-right: 2rem;
				float: left;
				display: flex;
				align-items: center;
				justify-content: center;
				color: $accent;
				img{
					width: 70%;
					height: auto;
				}
	    }
			.topbar-user{
				height: $topbar-height;
	  	  width: 15rem;
				position: absolute;
				right: 0px;
				display: flex;
				align-items: center;
				justify-content: center;
				color: $accent;
				font-size: 2rem;
			}
	}
	quixnav {
	  width: $nav-width;
	  height: 100vh;
	  padding-top: $login-top-margin;
	  position: fixed;
		z-index: 50;
	  background-color: $black;
	  box-shadow: 3px 0px 5px hsla(0, 0%, 0%, 0.5);
		}
	   .sidenavbutton {
			 opacity: .35;
	    width: $nav-width;
	    height: $topbar-height;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: opacity .03s ease 0s;
			&:hover{
				cursor: pointer;
				opacity: 1;
				background-color: $dark1;
			}
		}
		.sidenav-bottom{
			opacity: .35;
			width: $nav-width;
			height: $topbar-height;
			position: absolute;
			bottom: 20rem;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: opacity .03s ease 0s;
			&:hover{
				cursor: pointer;
				opacity: 1;
				background-color: $dark1;
			}
	  }
}
		ui-view {
			background-color: $dark1;
			width: calc(100% - 3.2rem);
			height: calc(100% - 15.5rem);
			// padding-top: $topbar-height;
			margin-left: $leftnav-total-width;
		}

	quixsub {
  width: $subnav-width;
  height: 100vh;
	padding-top: $login-top-margin;
	margin-left: $nav-width;
  position: fixed;
  box-shadow: 3px 0px 5px hsla(0, 0%, 0%, 0.5);
  background-color: $black;
  &--open {
    margin-left: $nav-width;
  }
	.subnav-button{
		opacity: .35;
		width: 13rem;
		height: $topbar-height;
		padding-right: 2rem;
		color: $primary;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		transition: opacity .03s ease 0s;
		&:hover{
			cursor: pointer;
			opacity: 1;
			background-color: $dark1;
		}
	}

}

.main {
  background-color: $dark1;
  width: calc(100% - $nav-width);
  height: calc(100vh - $topbar-height);
  margin-left: $leftnav-total-width;
}
