.login-container{
  width: $login-width;
  height: $login-height;
  margin: $login-top-margin auto 0;
  .login-logo{
    width:65%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6.5rem;
    color: $accent;
    margin: 0 auto $topbar-height;
  }
   input{
    width: 100%;
    height: $input-height;
    margin:0 0 2rem 0;
    font-size: 1.15rem;
  }
    button{
      float: right;
    }
    p{
      position: relative;
      z-index: 100;
      text-align: center;
      font-size: 1rem;
      top: 1rem;
      color: $warning;
    }
  // font-weight: bold;
  // font-size: 3rem;
}
