/*------------------------------------*\
  #COLORS
\*------------------------------------*/

$warning: #E94418;
$primary: #66625D;
$success: #09AA64;
$accent: #E68D35;

$black: #1D1D1D;
$white: #F1F1F1;
$invisible: hsla(0, 0%, 0%, 0);

$dark1: #29292A;
$dark2: #2F3336;
$dark3: #3C3C43;

$medium1:#7F8080;
$medium2: #9B9B9B;
$medium3: #CBCCCD;

$light1: #E6E4E4;
$light2: #E8E8E8;
$light3: #EAEAEA;

$error : #9E3828;

/*------------------------------------*\
  #NAV
\*------------------------------------*/

$topbar-height: 5.5rem;
$nav-width: 5.5rem;
$subnav-width: 15rem;

/*------------------------------------*\
  #LOGIN
\*------------------------------------*/
$login-top-margin: 15rem;
$login-height: 65vh;
$login-width: 33.33%;
$input-height: 4rem;


/*------------------------------------*\
  #INPUTS & BUTTONS
\*------------------------------------*/
$border-radius: 2px;
