/*------------------------------------*\
  #FONTS
\*------------------------------------*/

@import 'https://fonts.googleapis.com/css?family=Oswald|Roboto:300,400';

$font-main: 'Roboto', Arial, sans-serif;
$font-title: 'Oswald', Arial, sans-serif;





/*------------------------------------*\
  #COLORS
\*------------------------------------*/

$warning: #E94418;
$primary: #66625D;
$success: #09AA64;
$accent: #E68D35;

$black: #111314;
$subnav-color:#17181A;
$white: #F1F1F1;
$invisible: hsla(0, 0%, 0%, 0);

$dark1: #212326;
$dark2: #2F3336;
$dark3: #3C3C43;

$medium1:#7F8080;
$medium2: #9B9B9B;
$medium3: #CBCCCD;

$light1: #E6E4E4;
$light2: #E8E8E8;
$light3: #EAEAEA;

$error : #9E3828;





/*------------------------------------*\
  #NAV
\*------------------------------------*/

$topbar-height: 5.5rem;
$nav-width: 5.5rem;
$subnav-width: 15rem;
$leftnav-total-width: calc($nav-width + $subnav-width);





/*------------------------------------*\
  #LOGIN
\*------------------------------------*/

$login-top-margin: 18rem;
$login-height: 65vh;
$login-width: 25%;
$input-height: 4rem;





/*------------------------------------*\
  #INPUTS & BUTTONS
\*------------------------------------*/

$border-radius: 2px;
